<section class="login__section">


  <div class="main-div">

    <div class="image-div">
      <figure>
        <img class="login__image" src="../../assets/loginImage.png" alt="login image">
      </figure>
    </div>


    <div class="login">
      <h1>Login</h1>
      <form action="" class="login__form">

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input class="custom-input" matInput placeholder="Enter your username" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" class="form__input" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="btn__login">Login</button>

        <button mat-button color="primary" class="btn__forget">Forget Password?</button>
        <mat-divider class="divider">Or</mat-divider>
        <!-- <mat-divider ></mat-divider> -->
        <a mat-button href="#" color="primary" class="btn__create">Create Account</a>
      </form>


    </div>


  </div>
</section>


<!--  user  &#128100;
password &#128272;
-->