
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$customeLogin-primary: mat.define-palette(mat.$indigo-palette);
$customeLogin-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$customeLogin-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$customeLogin-theme: mat.define-light-theme((
  color: (
    primary: $customeLogin-primary,
    accent: $customeLogin-accent,
    warn: $customeLogin-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($customeLogin-theme);

/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
       font-family: 'Roboto', sans-serif;
}
:root{
  --color-bg-1: #8080f7b7;
  --color-bg-2: #4a4ae7ae;
  --color-bg-3: #344fa2;
  --color-bg: #f1fbff;

}

body { font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-bg); }
